body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.clock {
  cursor: default;
  font-size: 1050%;
  letter-spacing: -5px;
  text-align: center;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.center {
  z-index: 1;
}

.center, .center-below {
  display: block;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(50%,50%);
}
